.page--blog {
  min-height: 100svh;
  height: auto;
}
.page__blog {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.blog__hero {
  position: relative;
  height: calc(100svh - clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem));
  padding-bottom: clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem);
  flex: 1 1 50%;
}
.blog__img {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.blog__img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
  pointer-events: none;
}
.blog__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog__title {
  font-family: "Forum", serif;
  position: absolute;
  bottom: 3.5rem;
  left: 4.125rem;
  font-size: clamp(1.25rem, -4.096rem + 16.14vw, 7rem);
  line-height: 1;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.blog__news {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  background: url("../assets/img/bgfon.webp") center/cover no-repeat;
}

.news__box {
  padding-block: 6.6vh;
  padding-inline: clamp(0.625rem, -33.58rem + 39.09vw, 6rem);
  border-radius: 1rem;
  border: 0.0625rem solid rgba(239, 231, 210, 0.15);
  margin-bottom: 1rem;
  transition: border ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.news__title {
  font-family: "Forum", serif;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 33.625rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.news__title::after, .news__title::before {
  content: "";
  width: 3.8125rem;
  height: 1.25rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.news__title::after {
  background-image: url(../assets/img/menu/rightDecore.svg);
}
.news__title::before {
  background-image: url(../assets/img/menu/leftDecore.svg);
}
.news__block {
  display: flex;
  flex-direction: column;
  row-gap: 4.14vh;
}
.news__card {
  transform: translate(0, -6.25rem);
  opacity: 0;
  transition: all 0.2s ease-in 0s;
}
.news__card:first-child {
  transform: translate(0, -3.125rem);
}
.news__card h3 {
  font-family: "Forum", serif;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.news__card p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0rem;
}

.card-news__link {
  display: flex;
  gap: 3rem;
  transition: all ease-in 0.2s;
  border: 0.0625rem solid rgba(239, 231, 210, 0.15);
  border-radius: 1rem;
  padding: 0.3125rem;
}
.card-news__img {
  flex: 0 0 17.5rem;
  aspect-ratio: 280/210;
  overflow: hidden;
  border-radius: 1rem;
}
.card-news__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-news__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-news__date {
  font-size: 0.75rem;
  line-height: 1.3;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-news__date::before {
  max-width: 1.9375rem;
  width: 100%;
  height: 1.5625rem;
}
.card-news__date::before {
  content: url(../assets/img/menu/leftDecoreS.svg);
}
@media (max-width: 81.25em) {
  .page .card-news__link {
    gap: 0.625rem;
  }
}
@media (max-width: 68.75em) {
  .page .blog__hero {
    height: 80svh;
    flex: 1 1 auto;
  }
  .page .page__blog {
    flex-direction: column;
  }
  .page .card-news__link {
    gap: 1.875rem;
  }
}
@media (max-width: 40.625em) {
  .page .card-news__link {
    flex-direction: column;
  }
  .page .news__title {
    font-size: 1.875rem;
  }
  .page .news__title::before, .page .news__title::after {
    content: "";
    display: none;
  }
  .page .card-news__link {
    gap: 0.9375rem;
  }
}
@media (any-hover: hover) and (pointer: fine) {
  .news__box:hover {
    border: 0.0625rem solid rgba(239, 231, 210, 0.562);
  }
  .card-news__link:hover {
    scale: 1.03;
    border: 0.0625rem solid #f8f5f5;
  }
}