.credits {
  padding: 1.85vh;
  border-radius: 1rem;
  border: 0.0625rem solid rgba(239, 231, 210, 0.15);
  transition: border ease-in-out 0.3s;
}
.credits__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.credits__item {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.credits__item:not(.credits__item:last-child)::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 0.0625rem solid rgba(239, 231, 210, 0.15);
  rotate: -45deg;
}
@media (any-hover: hover) and (pointer: fine) {
  .credits:hover {
    border: 0.0625rem solid rgba(239, 231, 210, 0.781);
  }
}