input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  caret-color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 0.625rem;
  border: solid 0.0625rem rgba(239, 231, 210, 0.15);
  background-color: rgba(24, 24, 24, 0.5);
  transition: border ease-in-out 0.4s;
}
.input::placeholder {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  color: #EFE7D2;
  transition: all ease-in-out 0.4s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 37.5rem;
  width: 100%;
}

.form-inner {
  display: flex;
  gap: 1rem;
}

.button {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #efe7d2;
  font-size: 0.75rem;
  color: #0a0b0a;
  line-height: 1.3;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transition: all ease-in 0.3s;
}.page__reserv {
  display: flex;
  height: 100%;
  gap: 1rem;
}

.reserv__hero {
  height: 100%;
  position: relative;
  flex: 1 1 50%;
}
.reserv__img {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.reserv__img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
  pointer-events: none;
}
.reserv__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.reserv__title {
  font-family: "Forum", serif;
  position: absolute;
  left: clamp(0.625rem, -37.708rem + 53.33vw, 5.625rem);
  bottom: clamp(0.625rem, -32.917rem + 46.67vw, 5rem);
  font-size: clamp(1.563rem, -7.137rem + 17.4vw, 7rem);
  line-height: 1;
  letter-spacing: 0.125rem;
  max-width: 31.25rem;
  width: 100%;
  text-transform: uppercase;
}
.reserv__content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  background: url("../assets/img/bgfon.webp") center/cover no-repeat;
}

.content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1 1 auto;
  padding-inline: clamp(0.938rem, -59.813rem + 81vw, 6rem);
  padding-block: 5rem;
  border-radius: 1rem;
  border: 0.0625rem solid rgba(239, 231, 210, 0.15);
  margin-bottom: 1rem;
  transition: border ease-in-out 0.4s;
}
.content__box p {
  max-width: 31.25rem;
  margin-bottom: 4rem;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.content__title {
  font-family: "Forum", serif;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-align: center;
  background-size: 3.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content__title::after, .content__title::before {
  content: "";
  width: 3.8125rem;
  height: 1.25rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.content__title::after {
  background-image: url(../assets/img/menu/rightDecore.svg);
}
.content__title::before {
  background-image: url(../assets/img/menu/leftDecore.svg);
}
@media (max-width: 63.98125em) {
  .page {
    height: auto;
  }
  .page .page__reserv {
    flex-direction: column;
  }
  .page .reserv__hero {
    height: 80svh;
    flex: 1 1 auto;
  }
}
@media (max-width: 32.5em) {
  .form-inner {
    flex-direction: column;
  }
  .page .content__title {
    font-size: 1.875rem;
  }
  .page .content__title::after, .page .content__title::before {
    width: 1.9375rem;
  }
  .page .content__box {
    padding-block: 2.5rem;
  }
}
@media (any-hover: hover) and (pointer: fine) {
  .input:hover {
    border: solid 0.0625rem rgba(239, 231, 210, 0.74);
  }
  .input:hover::placeholder {
    opacity: 0.7;
  }
  .button:hover {
    background-color: rgba(44, 51, 44, 0.9921568627);
    color: #efe7d2;
  }
  .content__box:hover {
    border: 0.0625rem solid rgba(239, 231, 210, 0.562);
  }
}