.page--someblog {
  min-height: 100svh;
  height: auto;
}
.page__someblog {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.someblog__hero {
  position: relative;
  height: calc(100svh - clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem));
  padding-bottom: clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem);
  flex: 1 1 50%;
}
.someblog__img {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.someblog__img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
  pointer-events: none;
}
.someblog__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.someblog__info {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  background: url("../assets/img/bgfon.webp") center/cover no-repeat;
}
.someblog__box {
  padding-block: 7.4vh;
  padding-inline: clamp(0.625rem, -33.58rem + 39.09vw, 6rem);
  border-radius: 1rem;
  border: 0.0625rem solid rgba(239, 231, 210, 0.15);
  margin-bottom: 1rem;
  transition: all ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  opacity: 0;
}
.someblog__box time {
  font-size: 0.75rem;
  line-height: 1.3;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}
.someblog__box time::after, .someblog__box time::before {
  content: "";
  width: 1.9375rem;
  height: 1.25rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.someblog__box time::after {
  background-image: url(../assets/img/menu/rightDecoreS.svg);
}
.someblog__box time::before {
  background-image: url(../assets/img/menu/leftDecoreS.svg);
}
.someblog__box h1 {
  font-family: "Forum", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.0625rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  margin-bottom: 5rem;
}
.someblog__box h1::before {
  content: "";
  width: 2.625rem;
  height: 1.5625rem;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  background-image: url(../assets/img/someblog/decorLineBot.svg);
}
.someblog__box h2 {
  font-family: "Forum", serif;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.someblog__box section:not(:last-child) {
  margin-bottom: 3rem;
}
.someblog__box p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
}
.someblog__box p:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 63.98125em) {
  .page .someblog__hero {
    height: 80svh;
    flex: 1 1 auto;
  }
  .page .page__someblog {
    flex-direction: column;
  }
  .page .someblog__box h1 {
    font-size: 1.875rem;
  }
  .page .someblog__box h2 {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) and (pointer: fine) {
  .someblog__box:hover {
    border: 0.0625rem solid rgba(239, 231, 210, 0.562);
  }
}