.page {
	&--blog {
		min-height: 100svh;
		height: auto;
	}


	// .page__blog

	&__blog {
		height: 100%;
		display: flex;
		gap: 16px;
	}

	@media (max-width: toEm(1300)) {
		.card-news__link {
			gap: 10px;
		}
	}

	@media (max-width: toEm(1100)) {
		.blog__hero {
			height: 80svh;
			flex: 1 1 auto;
		}

		.page__blog {
			flex-direction: column;
		}

		.card-news__link {
			gap: 30px;
		}
	}

	@media (max-width: toEm(650)) {
		.card-news__link {
			flex-direction: column;
		}

		.news__title {
			font-size: 30px;

			&::before,
			&::after {
				content: '';
				display: none;
			}
		}

		.card-news__link {
			gap: 15px;
		}
	}
}



.blog {

	// .blog__hero

	&__hero {
		position: relative;
		// height: 50svh;
		height: calc(100svh - clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem));
		padding-bottom: clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem);
		flex: 1 1 50%;
	}

	// .blog__img

	&__img {
		height: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 16px;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 25%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
			pointer-events: none;
		}
	}

	// .blog__pic

	&__pic {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	// .blog__title

	&__title {
		font-family: "Forum", serif;
		position: absolute;
		bottom: 56px;
		left: 66px;
		font-size: clamp(1.25rem, -4.096rem + 16.14vw, 7rem);
		line-height: 1;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	// .blog__news

	&__news {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		background: url('@img/bgfon.png') center / cover no-repeat;
	}
}

.news {

	//.news__box

	&__box {
		padding-block: 6.6vh;
		padding-inline: clamp(0.625rem, -33.58rem + 39.09vw, 6rem);
		border-radius: 16px;
		border: 1px solid rgba(239, 231, 210, 0.15);
		margin-bottom: 16px;
		transition: border ease-in-out 0.4s;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;


		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				border: 1px solid rgba(239, 231, 210, 0.562);
			}
		}
	}

	// .news__title

	&__title {
		font-family: 'Forum', serif;
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		max-width: 538px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 6.6vh;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;

		&::after,
		&::before {
			content: '';
			width: 61px;
			height: 20px;
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			flex-shrink: 0;
		}

		&::after {
			// content: url(@img/menu/rightDecore.svg);
			background-image: url(@img/menu/rightDecore.svg);
		}

		&::before {
			// content: url(@img/menu/leftDecore.svg);
			background-image: url(@img/menu/leftDecore.svg);
		}
	}

	// .news__block

	&__block {
		display: flex;
		flex-direction: column;
		row-gap: 4.14vh;
	}

	// .news__card

	&__card {

		transform: translate(0, -100px);
		opacity: 0;
		transition: all 0.2s ease-in 0s;
		&:first-child{
			transform: translate(0, -50px);
		}

		h3 {
			font-family: 'Forum', serif;
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		p {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.8;
			letter-spacing: 0px;
		}
	}
}

.card-news {
	

	// .card-news__link

	&__link {
		display: flex;
		gap: 48px;
		transition: all ease-in 0.2s;
		border: 1px solid rgba(239, 231, 210, 0.15);
		
		border-radius: 16px;
		padding: 5px;
		
			@media (any-hover: hover) and (pointer: fine) {
				&:hover {
					scale: 1.03;
					border: 1px solid #f8f5f5;
				}
			}
	}

	// .card-news__img

	&__img {
		flex: 0 0 280px;
		aspect-ratio: 280 / 210;
		overflow: hidden;
		border-radius: 16px;
	}

	// .card-news__pic

	&__pic {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .card-news__info

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	// .card-news__date

	&__date {
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
		gap: 16px;

		&::before {
			max-width: 31px;
			width: 100%;
			height: 25px;
		}

		&::before {
			// content: url(../../../assets/img/menu/leftDecore.svg);
			content: url(@img/menu/leftDecoreS.svg);
		}
	}
}