<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--index">
	<section class="page__sushi sushi">
		<div class="sushi__gallery gallery">
			<div class="gallery__big-section">
				<figure class="gallery__main-img">
					<img src="@img/homePage/bigImg.jpg" alt="мясо в тарілці" class="gallery__image">
				</figure>
				<h1 class="gallery__title">Sushi Sensation</h1>
				<div class="gallery__social social">
					<a href="#" class="social__item social__item--icon-instagram"></a>
					<a href="#" class="social__item social__item--icon-facebook"></a>
					<a href="#" class="social__item social__item--icon-twitter"></a>
				</div>
			</div>
			<div class="gallery__aside aside">
				<a href="menu.html" class="aside__item">
					<figure class="aside__picture">
						<img src="@img/homePage/food.jpg" alt="блюдо зі стравою" class="aside__img">
					</figure>
					<div class="aside__decore">
						<div  class="aside__link">
							Menu
							<span class="aside__card-arrow aside__card-arrow--icon-arrow"></span>
						</div>
					</div>
				</a>
				<a href="reservation.html" class="aside__item">
					<figure class="aside__picture">
						<img src="@img/homePage/girl.jpg" alt="дівчина за столиком з двама бокалами вина" class="aside__img">
					</figure>
					<div class="aside__decore">
						<div class="aside__link">
							Reservation
							<span class="aside__card-arrow aside__card-arrow--icon-arrow"></span>
						</div>
					</div>
				</a>
				<a href="about.html" class="aside__item">
					<figure class="aside__picture">
						<img src="@img/homePage/interior.jpg" alt="барна стійка" class="aside__img">
					</figure>
					<div class="aside__decore">
						<div class="aside__link">
							Our Restaurant
							<span class="aside__card-arrow aside__card-arrow--icon-arrow"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
</main>
