@font-face {font-family: Satoshi;font-display: swap;src: url("@fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("@fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
