@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("C://Users/yaros/Desktop/qitchen/qitchen/src/assets/svgicons/preview/iconfont.woff2?1a28942b3818666a5045c07a780bfcf4") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-twitter"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-star"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-leaf"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-flower"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-envelope"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-dribbbleLogo"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-diamond"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-decorLine"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-decLine"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-caretDown"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-behanceLogo"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-basket"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-arrowRightUp"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f114"; 
	} 
