.page {
	&--someblog {
		min-height: 100svh;
		height: auto;
	}

	// .page__someblog

	&__someblog {
		height: 100%;
		display: flex;
		gap: 16px;
	}

	@media (max-width: toEm(1023.7)) {

		.someblog__hero {
			height: 80svh;
			flex: 1 1 auto;
		}

		.page__someblog {
			flex-direction: column;
		}
	}

	@media (max-width: toEm(1023.7)) {
		.someblog__box {
			h1 {
				font-size: 30px;
			}

			h2 {
				font-size: 24px;
			}
		}
	}
}


.someblog {

	// .someblog__hero

	&__hero {
		position: relative;
		// height: 50svh;
		height: calc(100svh - clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem));
		padding-bottom: clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem);
		flex: 1 1 50%;
	}

	// .someblog__img

	&__img {
		height: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 16px;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 25%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
			pointer-events: none;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	// .someblog__info

	&__info {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		background: url('@img/bgfon.png') center / cover no-repeat;
	}

	// .someblog__box

	&__box {
		padding-block: 7.4vh;
		padding-inline: clamp(0.625rem, -33.58rem + 39.09vw, 6rem);
		border-radius: 16px;
		border: 1px solid rgba(239, 231, 210, 0.15);
		margin-bottom: 16px;
		transition: all ease-in-out 0.4s;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		opacity: 0;


		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				border: 1px solid rgba(239, 231, 210, 0.562);
			}
		}

		// &>*:not(:last-child) {
		// 	margin-bottom: 16px;
		// }

		time {
			font-size: 12px;
			line-height: 1.3;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 16px;
			margin-bottom: 20px;

			&::after,
			&::before {
				content: '';
				width: 31px;
				height: 20px;
				display: block;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				flex-shrink: 0;
			}

			&::after {
				// content: url(@img/menu/rightDecore.svg);
				background-image: url(@img/menu/rightDecoreS.svg);
			}

			&::before {
				// content: url(@img/menu/leftDecore.svg);
				background-image: url(@img/menu/leftDecoreS.svg);
			}
		}

		h1 {
			font-family: "Forum", serif;
			font-size: 64px;
			font-weight: 400;
			line-height: 1.1;
			letter-spacing: 1px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 121px;
			display: flex;
			justify-content: center;
			align-items: center;
			// flex-direction: column;
			flex-direction: column-reverse;
			gap: 16px;
			margin-bottom: 80px;

			&::before {
				content: '';
				width: 42px;
				height: 25px;
				display: block;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				flex-shrink: 0;
				background-image: url(@img/someblog/decorLineBot.svg);
			}
		}

		h2 {
			font-family: "Forum", serif;
			font-size: 32px;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 16px;
		}

		section {
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}

		p {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.8;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}