.page {
	&--contact {
		// height: auto;
	}


	// .page__contact

	&__contact {
		display: flex;
		gap: 16px;
		height: 100%;
	}

	@media (max-width: toEm(1300)) {
		height: auto;

		.page__contact {
			flex-direction: column;
		}

		.contact__hero {
			height: 80svh;
			flex: 1 1 auto;
		}

		.connect-section__opening-hours,
		.connect-section__social {
			padding-inline: 20px;
		}

		.connect-section__gallery {
			order: 4;
		}

		.connect-section__social {
			order: 2;
		}

		.connect-section__opening-hours {
			order: 1;
		}

		.connect-section__location {
			order: 3;
		}

	}

	@media (max-width: toEm(700)) {
		.connect-section__box {
			grid-template-columns: minmax(300px, 1fr);
			grid-template-rows: auto;
		}

		.connect-section__title,
		.social__title {
			font-size: 20px;
		}
	}

}





.contact {

	// .contact__hero

	&__hero {
		flex: 1 1 50%;
		height: 100%;
		position: relative;
	}

	// .contact__img

	&__img {
		height: 100%;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 25%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
			pointer-events: none;
		}
	}

	// .contact__pic

	&__pic {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 16px;
	}

	// .contact__title

	&__title {
		font-family: "Forum", serif;
		position: absolute;
		left: clamp(0.625rem, -37.708rem + 53.33vw, 5.625rem);
		bottom: clamp(0.625rem, -32.917rem + 46.67vw, 5rem);
		// font-size: 112px;
		font-size: clamp(1.563rem, -7.137rem + 17.4vw, 7rem);
		line-height: 1;
		letter-spacing: 2px;
		max-width: 500px;
		width: 100%;
		text-transform: uppercase;
	}

	// .contact__connect-section

	&__connect-section {
		// min-height: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		background: url('@img/bgfon.png') center / cover no-repeat;
		border-radius: 16px;
		gap: 1.48vh;
	}
}

.connect-section {

	// .connect-section__box

	&__box {
		height: auto;
		display: grid;
		// gap: 16px;
		gap: 1.48vh;
		grid-template-columns: repeat(2, minmax(300px, 1fr));
		// grid-template-rows: repeat(2, minmax(400px, 400px));
		grid-template-rows: repeat(2, minmax(34vh, auto));
		// grid-template-rows: repeat(2, minmax(400px, 43.43vh ));
		// тут проблема, керування висотою основного гріда.\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
		flex: 1 1 auto;
		// overflow-x: auto;
		min-height: 0; //це рішення з проблемою висоти елементів гріда навіть без привязки  до vh
	}

	// .connect-section__opening-hours

	&__opening-hours,
	&__social {
		border-radius: 16px;
		border: 1px solid rgba(239, 231, 210, 0.15);
		// padding: 54px 48px 48px;
		// padding-inline: 48px;
		padding-inline: clamp(0.313rem, -12.357rem + 15.36vw, 3rem);
		padding-top: 4.995vh;
		padding-bottom: 4.44vh;
		display: flex;
		flex-direction: column;
		gap: 4.5vh;
		justify-content: space-between;
		overflow-x: auto;
		transition: border ease-in-out 0.3s;

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				border: 1px solid rgba(239, 231, 210, 0.781);
			}
		}

		// Кастомний скролбар
		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background: rgba(239, 231, 210, 0.1);
			border-radius: 3px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(239, 231, 210, 0.3);
			border-radius: 3px;

			&:hover {
				background: rgba(239, 231, 210, 0.5);
			}
		}
	}


	// .connect-section__title

	&__title {
		font-family: "Forum", serif;
		font-size: 24px;
		line-height: 1.2;
		letter-spacing: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		text-transform: uppercase;
		// margin-bottom: 85px;
		// margin-bottom: 7.88vh;

		&::after,
		&::before {
			max-width: 31px;
			width: 100%;
			height: 25px;
		}

		&::after {
			// content: url(../../../assets/img/menu/rightDecore.svg);
			content: url(@img/menu/rightDecoreS.svg);
		}

		&::before {
			// content: url(../../../assets/img/menu/leftDecore.svg);
			content: url(@img/menu/leftDecoreS.svg);
		}
	}

	// .connect-section__list

	&__list {
		display: flex;
		flex-direction: column;
		// gap: 16px;
		gap: 1.48vh;
	}

	// .connect-section__item

	&__item {
		display: flex;
		justify-content: space-between;
		gap: 16px;
	}

	// .connect-section__day

	&__day,
	&__time {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.8;
	}

	// .connect-section__decor-line

	&__decor-line {
		border-bottom: 1px dotted rgba(239, 231, 210, 0.15);
		flex: 1 1 auto;
	}

	// .connect-section__time

	&__time {}

	// .connect-section__gallery

	&__gallery {
		display: grid;
		// gap: 16px;
		column-gap: 16px;
		row-gap: 1.48vh;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-template-rows: repeat(2, minmax(20vh, 1fr));
		min-height: 0;

		a {
			overflow: hidden;
			border-radius: 16px;
			display: block;

			@media (any-hover: hover) and (pointer: fine) {
				&:hover {
					.connect-section__img {
						transform: scale(1.04);

						&::after {
							opacity: 0.7;
						}
					}

					.connect-section__img--icon-instagram {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	// .connect-section__img

	&__img {
		position: relative;
		transition: transform ease-in-out 0.5s;
		will-change: transform;
		border-radius: 16px;
		width: 100%;
		height: 100%;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #000000a1;
			opacity: 0;
			transition: opacity ease-in-out 0.3s;
		}
	}

	&__img--icon-instagram {
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			font-size: 25px;
			opacity: 0.2;
			transition: opacity ease-in-out 0.3s;
		}
	}

	// .connect-section__pic

	&__pic {
		width: 100%;
		height: 100%;
		border-radius: 16px;
		object-fit: cover;
		backface-visibility: hidden;
	}

	// .connect-section__location

	&__location {}

	// .connect-section__social

	&__social {}
}

.location {

	// .location__map

	&__map {
		height: 100%;
	}
}

.map {

	// .map__marker

	&__marker {}

	// .map__body

	&__body {
		border-radius: 16px;
	}
}

.social {

	// .social__title

	&__title {
		font-family: "Forum", serif;
		font-size: 24px;
		line-height: 1.2;
		letter-spacing: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		text-transform: uppercase;
		// margin-bottom: 132px;
		// margin-bottom: 12.21vh;

		&::after,
		&::before {
			max-width: 31px;
			width: 100%;
			height: 25px;
		}

		&::after {
			// content: url(../../../assets/img/menu/rightDecore.svg);
			content: url(@img/menu/rightDecoreS.svg);
		}

		&::before {
			// content: url(../../../assets/img/menu/leftDecore.svg);
			content: url(@img/menu/leftDecoreS.svg);
		}
	}

	// .social__info

	&__info {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	// .social__item

	&__item {
		display: flex;
		justify-content: space-between;

		address,
		a {
			max-width: 160px;
			text-align: right;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.8;
			font-style: normal;
		}
	}

	// .social__name-item

	&__name-item {
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	// .social__link

	&__link {
		display: flex;
		gap: 14px;

		a {
			img {
				transition: scale ease-in-out 0.3s;
			}

			// overflow: clip;
			@media (any-hover: hover) and (pointer: fine) {
				&:hover {
					img {
						scale: 1.2;
					}
				}
			}
		}
	}
}