<script type="module" src="@components/pages/about/about.js"></script>
<link rel="stylesheet" href="@components/pages/about/about.scss">

<main class="page page--about">
    <div class="page__about about">
        <section class="about__hero">
            <figure class="about__img">
                <img src="@img/about/main.jpg" alt="посипають сіллю страву в великому ракурсі" class="about__pic">
            </figure>
            <h1 class="about__title">About </h1>
        </section>
        <div class="about__restaurant restaurant">
            <div class="restaurant__box">
                <section class="restaurant__info">
                    <div class="restaurant__item">
                        <h2 class="restaurant__title">Sushi Artistry Redefined</h2>
                        <p>
                            Where culinary craftsmanship meets modern elegance. Indulge in the finest sushi, expertly curated to elevate your dining experience.
                        </p>
                    </div>
                    <figure class="restaurant__img">
                        <img src="@img/homePage/interior.jpg" alt="барна стійка" class="restaurant__pic">
                    </figure>
                </section>
                <div class="restaurant__awards awards">
                    <article class="awards__item">
                         <div data-fls-rating="set"  data-fls-rating-value="5" class="rating"></div>
                         <h3>Trip Advisor</h3>
                         <p>Best Steak House Prague</p>
                    </article>

                    <article class="awards__item">
                         <div data-fls-rating="set"  data-fls-rating-value="5" class="rating"></div>
                         <h3>Trip Advisor</h3>
                         <p>Best Steak House Prague</p>
                    </article>
                    <article class="awards__item">
                         <div data-fls-rating="set"  data-fls-rating-value="5" class="rating"></div>
                         <h3>Trip Advisor</h3>
                         <p>Best Steak House Prague</p>
                    </article>

                    <article class="awards__item">
                        <div data-fls-rating="set"  data-fls-rating-value="5" class="rating"></div>
                        <h3>Michelin Guide</h3>
                        <p>Best Steak House Prague</p>
                    </article>
                    <article class="awards__item">
                        <div data-fls-rating="set"  data-fls-rating-value="5" class="rating"></div>
                        <h3>Star Dining</h3>
                        <p>Best Steak House Prague</p>
                    </article>
                </div>
                <section class="restaurant__info restaurant__info--rev">
                    <div class="restaurant__item">
                        <h2 class="restaurant__title restaurant__title--decor">Our Story</h2>
                        <p>
                            Founded with a passion for culinary excellence, Qitchen's journey began in the heart of Prague. Over years, it evolved into a haven for sushi enthusiasts, celebrated for its artful mastery and devotion to redefining gastronomy.
                        </p>
                    </div>
                    <figure class="restaurant__img">
                        <img src="@img/about/mens.jpg" alt="два повари на кухні" class="restaurant__pic">
                    </figure>
                </section>
            </div>
            <include src="@components/custom/minifooter/minifooter.html"></include>
        </div>
    </div>
</main>