.page {

	// padding: clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem);
	// background-color: $bgColor;
	// height: 100svh;

	&--about {}

	&__about {
		display: flex;
		height: 100%;
		gap: 16px;
	}

	@media (max-width: toEm(1300)) {
		.restaurant__info {
			flex-direction: column;
		}

		.restaurant__item {
			padding-top: 10px;
			flex: 0 1 150px;
			min-height: 0;
			// gap: 15px;

			p {
				text-align: center;
			}
		}

		.restaurant__img {
			flex: 1 1 200px;
			min-height: 0;
		}
		.restaurant__awards{
			// display: none;
		}

		.restaurant__title {
			max-width: 100%;
			width: 100%;
			text-align: center;
			font-size: 20px;
		}

		.restaurant__awards {
			h3 {
				font-size: 18px;
				letter-spacing: 0.5px;
			}

			p {
				font-size: 11px;
			}
		}
	}

	@media (max-width: toEm(1023.7)) {
		height: auto;

		.page__about {
			flex-direction: column;
		}

		.about__hero {
			height: 80svh;
			flex: 1 1 auto;
		}

		.restaurant__img {
			flex: 1 1 auto;
			height: auto;
		}
	}

	@media (max-width: toEm(520)) {
		.restaurant__awards {
			// flex-direction: column;
			&::-webkit-scrollbar{
				display: none;
			}
		}

		.awards__item {
			flex: 1 1 100%;
			padding-block: 20px;
		}

		.restaurant__item {
			flex: 1 1 auto;
		}

		.restaurant__title {
			margin-bottom: 15px;
		}
	}
}


.about {

	// .about__hero

	&__hero {
		flex: 1 1 50%;
		height: 100%;
		position: relative;
	}

	// .about__img

	&__img {
		height: 100%;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 25%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
			pointer-events: none;
		}
	}

	// .about__pic

	&__pic {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 16px;
	}

	// .about__title

	&__title {
		font-family: "Forum", serif;
		position: absolute;
		left: clamp(0.625rem, -37.708rem + 53.33vw, 5.625rem);
		bottom: clamp(0.625rem, -32.917rem + 46.67vw, 5rem);
		// font-size: 112px;
		font-size: clamp(1.563rem, -7.137rem + 17.4vw, 7rem);
		line-height: 1;
		letter-spacing: 2px;
		max-width: 500px;
		width: 100%;
		text-transform: uppercase;
	}

	// .about__restaurant

	&__restaurant {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		background: url('@img/bgfon.png') center / cover no-repeat;
		min-width: 0;
	}
}

.restaurant {

	// .restaurant__box

	&__box {
		// height: 100%;
		display: flex;
		flex-direction: column;
		// gap: 16px;
		column-gap: 16px;
		row-gap: 1.48vh;
		flex: 1 1 auto;
		min-width: 0;
		// width: 100%;
	}

	// .restaurant__info

	&__info {
		display: flex;
		gap: 16px;
	}

	&__info--rev {
		flex-direction: row-reverse;
	}

	// .restaurant__item

	&__item {
		// min-height: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// flex: 1;
		flex: 1 0 50%;
		border-radius: 16px;
		border: 1px solid rgba(239, 231, 210, 0.15);
		// padding: 48px;
		// padding: clamp(0.313rem, -12.357rem + 15.36vw, 3rem);
		// padding-inline: 48px;
		padding-inline: clamp(0.625rem, -5.769rem + 7.31vw, 3rem);
		padding-block: 4.4vh;
		transition: border ease-in-out 0.3s;

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				border: 1px solid rgba(239, 231, 210, 0.781);
			}
		}

		p {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.8;
		}
	}

	// .restaurant__title

	&__title {
		font-family: "Forum", serif;
		font-size: 32px;
		line-height: 1.2;
		letter-spacing: 1px;
		max-width: 330px;
		text-transform: uppercase;
	}

	//.restaurant__title--decor
	&__title--decor {
		text-align: center;
		max-width: 100%;
		font-size: 24px;
		// background-size: 63px;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;

		&::after,
		&::before {
			max-width: 61px;
			width: 100%;
			height: 25px;
		}

		&::after {
			// content: url(../../../assets/img/menu/rightDecore.svg);
			content: url(@img/menu/rightDecore.svg);
		}

		&::before {
			// content: url(../../../assets/img/menu/leftDecore.svg);
			content: url(@img/menu/leftDecore.svg);
		}
	}


	// .restaurant__img

	&__img {
		// min-height: 0;
		border-radius: 16px;
		// aspect-ratio: 456 / 329;
		height: 34vh;
		flex: 1 1 auto;
		overflow: hidden;
		width: 100%;

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				.restaurant__pic {
					opacity: 0.8;
					scale: (1.05);
				}
			}
		}
	}

	// .restaurant__pic

	&__pic {
		width: 100%;
		height: 100%;
		border-radius: 16px;
		opacity: 0.5;
		transition: all ease-in-out 0.5s;
	}

	// .restaurant__awards

	&__awards {
		display: flex;
		gap: 16px;
		justify-content: flex-start;
		overflow-x: auto;
		min-width: 0;
		

		&::-webkit-scrollbar {
			height: 4px;
		}

		&::-webkit-scrollbar-track {
			background: rgba(239, 231, 210, 0.267);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: transparent; 
			border-radius: 10px;
			transition: all 0.3s ease;
		}

		&:hover::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, 0.274);
		}

		&::-webkit-scrollbar-thumb:hover {
			background: rgba(239, 231, 210, 0.932);
		}


		h3 {
			font-family: "Forum", serif;
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		p {
			font-size: 12px;
			line-height: 1.3;
			letter-spacing: 1px;
			text-align: center;
			color: rgba(245, 242, 234, 0.7);
			text-transform: uppercase;
			max-width: 125px;
		}
	}
}

.awards {

	// .awards__item

	&__item {
		display: flex;
		flex-direction: column;
		gap: 4px;
		// gap: 8px;
		align-items: center;
		justify-content: center;
		border-radius: 16px;
		border: 1px solid rgba(239, 231, 210, 0.15);
		// padding: 32px;
		// padding: clamp(0.313rem, -3.528rem + 4.66vw, 2rem);
		padding-inline: 32px;
		padding-block: 2.97vh;
		flex: 0 0 298px;
		transition: all ease-in 0.2s;
		@media (any-hover: hover) and (pointer: fine) {
		  &:hover {
			scale: 0.97;
			border: 1px solid rgb(239, 231, 210);
		  }
		}
	}
}

.rating {
		margin-top: 15px;
			// margin-bottom: 5px;
}