//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	// border-radius: 0 !important;
	width: 100%;
	display: block;
	// padding: 10px;
	// border: 1px solid #eee;
	caret-color: inherit;
	padding: 16px 24px;
	border-radius: 10px;
	border: solid 1px rgba(239, 231, 210, 0.15);
	background-color: rgba(24, 24, 24, 0.5);
	transition: border ease-in-out 0.4s;

	&::placeholder {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.8;
		color: $mainColor;
		transition: all ease-in-out 0.4s;
	}

	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			border: solid 1px rgba(239, 231, 210, 0.74);

			&::placeholder {
				opacity: 0.7;
			}
		}
	}

	&.--form-focus {}

	&.--form-error {}
}

.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;

	}

	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: vertical;
	padding: 0px 0px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 600px;
	width: 100%;
}

.form-inner {
	display: flex;
	gap: 16px;
	@media (max-width: toEm(520)){
		  
		flex-direction: column;
	}
}

.button {
	width: 100%;
	padding: 16px 24px;
	border-radius: 8px;
	background-color: #efe7d2;
	font-size: 12px;
	color: #0a0b0a;
	line-height: 1.3;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all ease-in 0.3s;
	@media (any-hover: hover) and (pointer: fine) {
	  &:hover {
		background-color: #2c332cfd;
		color: #efe7d2;
	  }
	}
}