<form data-fls-form action="files/sendmail/sendmail.php" method="POST">
	<input data-fls-input data-fls-form-validatenow required autocomplete="off" type="text" name="form[]"  placeholder="Name" class="input">
	<input data-fls-input data-fls-input-mask="+38(999) 999-9999" autocomplete="off" type="text" name="form[]"  placeholder="Phone Number" class="input">
	<input required type="email" name="form[email]"  placeholder="Email" class="input">
	<!-- <textarea data-fls-input autocomplete="off" name="form[]" placeholder="Введіть..." data-fls-form-errtext="Помилка" class="input"></textarea> -->
	<!-- <textarea data-fls-input data-fls-input-autoheight autocomplete="off" name="form[]" placeholder="Введіть..." data-fls-form-errtext="Помилка" class="input"></textarea> -->
	<div class="form-inner">
		<!-- <input data-fls-input autocomplete="off" type="password" name="form[]" data-fls-form-errtext="Помилка" value="123456" placeholder="Введіть..." class="input">
		<button data-fls-input-viewpass>Viewpass</button> -->
		<input data-fls-input data-fls-form-validatenow required autocomplete="off" type="text" name="form[]"  placeholder="Guests" class="input">
		<input data-fls-input data-fls-form-validatenow required autocomplete="off" type="text" name="form[]"  placeholder="Date" class="input">
		<input data-fls-input data-fls-form-validatenow required autocomplete="off" type="text" name="form[]"  placeholder="Time" class="input">
	</div>
	<button type="submit" class="button">Reserve</button>
</form>