<script type="module" src="@components/pages/menu/menu.js"></script>
<link rel="stylesheet" href="@components/pages/menu/menu.scss">
<main class="page page--menu">
    <div class="page__menu menu-page">
        <section class="menu-page__hero">
            <figure class="menu-page__img">
                <img src="@img/menu/mainImg.jpg" alt="руки які ставлять страву на стіл" class="menu-page__pic">
            </figure>
            <h1 class="menu-page__title">Menu</h1>
        </section>
        <aside class="menu-page__internal-menu internal-menu">
            <div class="internal-menu__content-container">
                <ul class="internal-menu__category category">
                    <li class="category__item">
                        <a href="#" data-fls-scrollto-top="30" data-fls-scrollto=".internal-menu__maki" class="category__link">Maki</a>
                    </li>
                    <li class="category__item">
                        <a href="#" data-fls-scrollto-top="30" data-fls-scrollto=".internal-menu__uramaki" class="category__link">UraMaki</a>
                    </li>
                    <li class="category__item">
                        <a href="#" data-fls-scrollto-top="30" data-fls-scrollto=".internal-menu__special" class="category__link">Special Rolls</a>
                    </li>
                </ul>
                <section class="internal-menu__maki">
                    <h2 class="internal-menu__title">Maki</h2>
                    <div class="internal-menu__info">
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="spicy-tuna">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi1.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="spicy-tuna" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Spicy Tuna Maki</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>5</span>
                                        </strong>
                                    </div>
                                    <p> A tantalizing blend of spicy tuna, cucumber, and avocado, harmoniously rolled in nori and seasoned rice. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="mango-maki">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi2.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="mango-maki" class="internal-menu__subtitle">Mango Maki</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>5</span>
                                        </strong>
                                    </div>
                                    <p> Tempura-fried shrimp, cucumber, and cream cheese embrace a center of fresh avocado, delivering a satisfying contrast of textures. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="salmon-maki">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi3.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="salmon-maki" class="internal-menu__subtitle">Salmon Maki</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>5</span>
                                        </strong>
                                    </div>
                                    <p> Shiitake mushrooms, avocado, and pickled daikon radish nestle within a roll of seasoned rice, coated with nutty sesame seeds. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="tuna-maki">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi4.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="tuna-maki" class="internal-menu__subtitle">Tuna Maki</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>5</span>
                                        </strong>
                                    </div>
                                    <p> A vibrant assortment of julienned carrots, bell peppers, and cucumber, tightly encased in a nori-wrapped rice roll. </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="internal-menu__uramaki">
                    <h2 class="internal-menu__title">UraMaki</h2>
                    <div class="internal-menu__info">
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="volcano-delight">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi5.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="volcano-delight" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Volcano Delight</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> Creamy crab salad, avocado, and cucumber rolled inside, topped with spicy tuna and drizzled with fiery sriracha sauce. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="rainbow-fusion">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi6.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="rainbow-fusion" class="internal-menu__subtitle">Rainbow Fusion</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> A colorful blend of fresh tuna, salmon, yellowtail, and avocado, enveloping a core of cucumber and crab stick. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="dragon-elegance">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi7.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="dragon-elegance" class="internal-menu__subtitle">Dragon Elegance</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> Grilled eel and avocado nestled within the roll, draped with slices of ripe avocado resembling dragon scales. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="sunset-serenity">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi8.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="sunset-serenity" class="internal-menu__subtitle">Sunset Serenity</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> Tempura shrimp, cucumber, and spicy mayo embraced by a roll of soy paper, crowned with slices of creamy mango. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="mystic-garden">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi9.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="mystic-garden" class="internal-menu__subtitle">Mystic Garden</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> Shiitake mushrooms, asparagus, and cucumber intermingle with crispy tempura bits, blanketed by a layer of sesame seeds. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="ocean-breeze">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi10.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="ocean-breeze" class="internal-menu__subtitle">Ocean Breeze</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> A medley of fresh shrimp, crab stick, and avocado, laced with a gentle touch of zesty yuzu-infused tobiko. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="tokyo-blossom">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi11.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="tokyo-blossom" class="internal-menu__subtitle">Tokyo Blossom</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>12</span>
                                        </strong>
                                    </div>
                                    <p> Delicate pink soy paper envelopes a blend of tuna, crab stick, and cucumber, embellished with edible flower petals. </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="internal-menu__special">
                    <h2 class="internal-menu__title">Special Rolls</h2>
                    <div class="internal-menu__info">
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="sunrise-bliss">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi12.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="sunrise-bliss" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Sunrise Bliss</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>16</span>
                                        </strong>
                                    </div>
                                    <p> A delicate combination of fresh salmon, cream cheese, and asparagus, rolled in orange-hued tobiko for a burst of sunrise-inspired flavors. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="mango-tango-fusion">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi13.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="mango-tango-fusion" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Mango Tango Fusion</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>16</span>
                                        </strong>
                                    </div>
                                    <p> Tempura shrimp, cucumber, and avocado dance alongside sweet mango slices, drizzled with a tangy mango sauce. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="truffle-indulgence">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi14.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="truffle-indulgence" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Truffle Indulgence</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>16</span>
                                        </strong>
                                    </div>
                                    <p> Decadent slices of black truffle grace a roll of succulent wagyu beef, cucumber, and microgreens, culminating in an exquisite umami symphony. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="pacific-firecracker">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi15.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="pacific-firecracker" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Pacific Firecracker</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>16</span>
                                        </strong>
                                    </div>
                                    <p> Spicy crab salad, tempura shrimp, and jalapeño peppers combine in a fiery ensemble, accented with a chili-infused aioli. </p>
                                </div>
                            </article>
                        </div>
                        <div class="internal-menu__wrapper">
                            <article class="internal-menu__item" aria-labelledby="eternal-eel-enchantment">
                                <figure class="internal-menu__img">
                                    <img src="@img/menu/sushi16.jpg" alt="різновид ролів на тарілці" class="internal-menu__pic">
                                </figure>
                                <div class="internal-menu__text-block">
                                    <div class="internal-menu__inner">
                                        <h3 id="eternal-eel-enchantment" class="internal-menu__subtitle internal-menu__subtitle--icon-lea">Eternal Eel Enchantment</h3>
                                        <div class="internal-menu__decor-line"></div>
                                        <strong class="internal-menu__price"> $ <span>16</span>
                                        </strong>
                                    </div>
                                    <p> An enchanting blend of eel tempura, foie gras, and cucumber, elegantly layered with truffle oil and gold leaf for a touch of opulence. </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
            <!-- <div class="internal-menu__credits credits">
                <ul class="credits__list">
                    <li class="credits__item">By Pawel Gola</li>
                    <li class="credits__item credits__item--icon-diamond">Licensing</li>
                    <li class="credits__item credits__item--icon-diamond">Styleguide</li>
                </ul>
            </div> -->
            <include src="@components/custom/minifooter/minifooter.html"></include>
        </aside>
    </div>
</main>