.menu {
	background-color: #0A0B0A;
	padding: 8px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	max-width: 454px;
	position: absolute;
	z-index: 5;
	top: 5%;
	left: 5%;
	flex-wrap: wrap;

	@media (max-width: toEm(530)) {
		left: 30px;
		top: 30px;

		.mobile__link {
			font-size: 32px;
		}

		.menu__list {
			display: none;
		}
	}

	// .menu__logo
	&__logo {
		flex-shrink: 0;
		padding-inline: 12px;
	}

	// .menu__icon
	&__icon {}



	// .menu__body
	&__body {}

	// .menu__mobile
	&__mobile {
		// @media (max-width: toEm($mobile)) {
		position: fixed;
		width: 100%;
		height: 100svh;
		left: -100%;
		top: 0;
		overflow: auto;
		padding: 50px 15px 30px 15px;
		transition: left 0.3s;
		background-color: #0A0B0A;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		outline: 1px solid #fff;
		outline-offset: -24px;

		&::before {
			content: "";
			position: fixed;
			width: 100%;
			height: 70px;
			left: -100%;
			top: 0;
			transition: left 0.3s;
			z-index: 2;
		}

		[data-fls-menu-open] & {
			left: 0;

			&::before {
				left: 0;
			}
		}

		// }
	}

	// .menu__list
	&__list {
		display: flex;

		@media (max-width: toEm($mobile)) {}
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-underline-offset: 10px;
		padding: 12px;

		&--active {
			border-radius: 8px;
			border: 1px solid rgba(247, 245, 243, 0.15);
			background-color: rgba(24, 24, 24, 0.50);
			transition: border ease-in-out 0.3s;

			@media (any-hover: hover) and (pointer: fine) {
				&:hover {
					border: 1px solid rgba(247, 245, 243, 0.822);
				}
			}
		}

		@media (any-hover: hover) and (pointer: fine) {
			&:hover:not(&--active) {
				text-decoration: underline;
			}

		}

		@media (max-width: toEm($mobile)) {}
	}
}


.logo {

	/* .logo__link */

	&__link {}

	/* .logo__img */

	&__img {}
}

//Burger Icon
.icon-menu {
	// display: none;
	border-radius: 8px;
	border: 1px solid rgba(239, 231, 210, 0.15);
	background-color: rgba(24, 24, 24, 0.50);
	transition: border ease-in-out 0.3s;

	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			border: 1px solid rgb(239, 231, 210);
		}
	}


	// @media (max-width: toEm($mobile)) {
	display: block;
	position: relative;
	width: toRem(41);
	height: toRem(41);
	z-index: 5;

	@media (any-hover: none) {
		cursor: default;
	}

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 50%;
		transform: translate(50%);
		position: absolute;
		width: 20px;
		height: 1px;
		background-color: #EFE7D2;
	}

	&::before {
		top: 14px;
	}

	&::after {
		bottom: 14px;
	}

	span {
		// top: calc(50% - 1px);
	}

	[data-fls-menu-open] & {
		span {
			width: 0;
		}

		&::before,
		&::after {
			right: 25%;
		}

		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}

	// }
}


.mobile {

	// .mobile__item-decor
	&__item-decor {
		&::before {
			font-family: iconfont;
			content: "\f10d";
			font-size: 42px;
			color: rgba(239, 231, 210, 0.15);

		}
	}

	// .mobile__item

	&__item {}

	// .mobile__link

	&__link {
		color: $mainColor;
		text-align: center;
		font-size: 64px;
		line-height: 1;
		text-transform: uppercase;
		transition: all ease-in-out 0.3s;

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				transform: scale(0.90);
			}
		}
	}
}