.page {
	// padding: clamp(0.75rem, -0.92rem + 5.04vw, 1.5rem);
	// background-color: $bgColor;
	// height: 100svh;

	&--reservation {}

	// .page__reserv

	&__reserv {
		display: flex;
		height: 100%;
		gap: 16px;
	}

	@media (max-width: toEm(1023.7)) {

		height: auto;

		.page__reserv {
			flex-direction: column;
		}

		.reserv__hero {
			height: 80svh;
			flex: 1 1 auto;
		}
	}

	@media (max-width: toEm(520)) {

		.content__title {
			font-size: 30px;

			&::after,
			&::before {
				width: 31px;
			}
		}

		.content__box {
			padding-block: 40px;
		}
	}
}


.reserv {

	// .reserv__hero

	&__hero {
		height: 100%;
		position: relative;
		flex: 1 1 50%;
	}

	// .reserv__img

	&__img {
		height: 100%;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 25%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.842), transparent);
			pointer-events: none;
		}
	}

	// .reserv__pic

	&__pic {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 16px;
	}

	// .reserv__title

	&__title {
		font-family: "Forum", serif;
		position: absolute;
		left: clamp(0.625rem, -37.708rem + 53.33vw, 5.625rem);
		bottom: clamp(0.625rem, -32.917rem + 46.67vw, 5rem);
		// font-size: 112px;
		font-size: clamp(1.563rem, -7.137rem + 17.4vw, 7rem);
		line-height: 1;
		letter-spacing: 2px;
		max-width: 500px;
		width: 100%;
		text-transform: uppercase;
	}

	// .reserv__content

	&__content {
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
		background: url('@img/bgfon.png') center / cover no-repeat;
	}
}

.content {

	// .content__box

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		flex: 1 1 auto;
		padding-inline: clamp(0.938rem, -59.813rem + 81vw, 6rem);
		padding-block: 80px;
		border-radius: 16px;
		border: 1px solid rgba(239, 231, 210, 0.15);
		margin-bottom: 16px;
		transition: border ease-in-out 0.4s;

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				border: 1px solid rgba(239, 231, 210, 0.562);
			}
		}

		p {
			max-width: 500px;
			margin-bottom: 64px;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: center;
		}
	}

	// .content__title

	&__title {
		font-family: 'Forum', serif;
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;

		background-size: 63px;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;

		&::after,
		&::before {
			content: '';
			width: 61px;
			height: 20px;
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&::after {
			// content: url(../../../assets/img/menu/rightDecore.svg);
			// content: url(@img/menu/rightDecore.svg);
			background-image: url(@img/menu/rightDecore.svg);
		}

		&::before {
			// content: url(../../../assets/img/menu/leftDecore.svg);
			// content: url(@img/menu/leftDecore.svg);
			background-image: url(@img/menu/leftDecore.svg);
		}


	}
}