<script type="module" src="@components/pages/reservation/reservation.js"></script>
<link rel="stylesheet" href="@components/pages/reservation/reservation.scss">
<main class="page page--reservation">
    <div class="page__reserv reserv">
        <section class="reserv__hero">
            <figure class="reserv__img">
                <img src="@img/reservation/main.jpg" alt="дівчина за столом на якому два бокали вина" class="reserv__pic">
            </figure>
            <h1 class="reserv__title">Book a Table</h1>
        </section>
        <section class="reserv__content content">
            <div class="content__box">
                <h2 class="content__title">Reservation</h2>
                <p>
                    Secure your spot at Qitchen, where exceptional sushi and a remarkable dining experience await.
                </p>
                <include src="@components/forms/input/input.html"></include>
            </div>
            <include src="@components/custom/minifooter/minifooter.html"></include>
        </section>
    </div>
</main>